<!DOCTYPE html>
<html lang="en" ng-app="vm">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Gallery</title>

  <!-- Angular -->
  <script src="server/public/vendors/angular.min.js"></script>
  <script src="server/public/scripts/client.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="server/public/vendors/bootstrap.css">
  <link rel="stylesheet" href="server/public/vendors/bootstrap-theme.css">

  <!-- Custom Styles -->
  <link href="server/public/styles/style.css" rel="stylesheet" />

</head>
<body class="background">
  <div class="row" ng-controller="MainController as vm" ng-cloak>
    <h1 class="h1">{{ vm.title }}</h1>
    <div class="row">
      <div ng-repeat="picture in vm.picturesArray">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-sm-4">
          <div ng-show"thumbImg" class="thumbnail">
            <img ng-hide="text" ng-click="text=!text" class="imgClick" ng-src="{{picture.photo}}">
            <textarea ng-hide="!text" ng-click="text=!text" class="thumbTextBox">{{picture.imageText}}</textarea>
            <h3 class="name">{{picture.name}}</h3>
              <div class="rating">
                <p class="likes" ng-click="plusOne($index)">+ {{picture.likes}} </p>
              </div>
            </div>
        </div> 
      </div>
    </div>
  </div>
</body>
</html>