html, body {
    font-family: 'Roboto', sans-serif;
    width:100%;
   }

  .background {
    background-image: url("../images/Honeymoon.jpg");
    background-size: 1600px 900px;
   }
   
   .h1 {
    margin-top: 10px;
    color: rgb(43, 42, 42);
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    padding: 50px;
   }

   .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .name {
    color: rgb(68, 68, 68);
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
   }
   
   .thumbnail {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
   }

   img:hover {
    opacity: 0.65;
    transition: 650ms;
   }

   .thumbnail img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.75);
   }
   
   .title {
    color: #444;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
   }

   .rating {
    text-align: right;
    padding:0px 35px 0px 0px;
   }
   
   .likes {
    background: #F65A5B ;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 -30px 0 40px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background 500ms;
   }
   
   .likes:hover {
    color: #F65A5B ;
      background: rgba(246, 90, 91, 0.25);
      transition: background 500ms;
   }

   